button {
  transition: all 0.3s linear;
  background-color: #8b10dd;
  border: none;
  font-weight: 600;
  padding: 12px;
  color: #fff;
  border-radius: 20px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #9e27ee;
}

button:disabled {
  opacity: 0.5;
  cursor: no-drop;
}
.App {
  text-align: center;
}

p {
  margin-bottom: 10px;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fff;
  font-weight: 600;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-connect {
  background-color: #c712be;
  padding: 20px;
}
.btn-connect:hover {
  background-color: #d822cf;
}

.App-counter {
  margin-top: 40px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.count {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 25px;
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 50%;
  background-color: #9e27ee;
}
